* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.mobile-container {
  max-width: 480px;
  margin: auto;
  height: 500px;
  color: white;
  border-radius: 10px; }

.topnav {
  overflow: hidden;
  position: relative; }
  .topnav #myLinks {
    display: none; }
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block; }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0; }
  .topnav a:hover {
    background-color: #ddd; }

.title {
  font-size: 48px;
  font-weight: bolder;
  color: black; }

.body-copy {
  font-size: 12px;
  font-weight: light;
  color: black; }

.donate-button1 {
  background-color: #fdc752;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer; }

.donate-button1:hover {
  background-color: #ddd; }

.inner-icon {
  background-color: #black; }

.header {
  font-size: 24px;
  font-weight: bold;
  color: black; }

.body-copy {
  font-size: 12px;
  font-weight: light;
  color: black; }

.heading {
  font-size: 48px;
  font-weight: bolder;
  color: black; }

.body-copy {
  font-size: 12px;
  font-weight: light;
  color: black; }

.header {
  font-size: 24px;
  font-weight: bold;
  color: black; }

.body-copy {
  font-size: 12px;
  font-weight: light;
  color: black; }

.donate-button3 {
  background-color: #fdc752;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

.donate-button3:hover {
  background-color: #ddd; }

.donate-seal {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 150px;
  margin-left: 100px; }

.header {
  font-size: 24px;
  font-weight: bold;
  color: black; }

.body-copy {
  font-size: 12px;
  font-weight: light;
  color: black; }

.body-copy-bold {
  font-size: 14px;
  font-weight: bold;
  color: black; }

.volunteer-button2 {
  background-color: #fdc752;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

.volunteer-button2:hover {
  background-color: #ddd; }

.body {
  background-image: url("blue3.png"); }

.header {
  font-size: 24px;
  font-weight: bold;
  color: black; }

.donate-button2 {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block; }

.fundraise-button:hover {
  background: #ddd; }

.volunteer-button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block; }

.volunteer-button:hover {
  background: #ddd; }

.member-button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block; }

.member-button:hover {
  background: #ddd; }

.fundraise-button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block; }

.fundraise-button:hover {
  background: #ddd; }

@media screen and (max-width: 600px) {
  body {
    background: blue; } }
@media screen and (min-width: 601px) and (max-width: 800px) {
  body {
    background: red; } }
@media screen and (min-width: 801px) and (max-width: 1200px) {
  body {
    background: yellow; }

  #myLinks {
    display: block; }

  a a.icon {
    display: none; }
  a a:hover {
    background-color: #ddd; } }
.header {
  font-size: 24px;
  font-weight: bold;
  color: black; }

.body-copy {
  font-size: 12px;
  font-weight: light;
  color: black; }

col {
  float: left; }

col-1 {
  width: 8.3333333333%; }

col-2 {
  width: 16.6666666667%; }

col-3 {
  width: 25%; }

col-4 {
  width: 33.3333333333%; }

col-5 {
  width: 41.6666666667%; }

col-6 {
  width: 50%; }

col-7 {
  width: 58.3333333333%; }

col-8 {
  width: 66.6666666667%; }

col-9 {
  width: 75%; }

col-10 {
  width: 83.3333333333%; }

col-11 {
  width: 91.6666666667%; }

col-12 {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
