@import 'mixin';

.donate-button3{
@include button-style(#fdc752, none, 4px, white, 15px 32px, center, none, inline-block, 16px, pointer )
}

.donate-button3:hover{
  background-color: #ddd;
}

.circle-image{
  width: 300px;
  height:300px;
  object-fit: cover;
  border-radius: 150px;
  margin-left: 100px;
}
