@import 'mixin';


.donate-button2{
@include button-style2(none, inherit, 14px 28px, 16px, pointer, inline-block);
  }
  .donate-button2:hover {
    background: #ddd;}

.volunteer-button{
@include button-style2(none, inherit, 14px 28px, 16px, pointer, inline-block);
}
.volunteer-button:hover {
  background: #ddd;}

.member-button{
@include button-style2(none, inherit, 14px 28px, 16px, pointer, inline-block);
}
.member-button:hover {
  background: #ddd;}

.fundraise-button{
@include button-style2(none, inherit, 14px 28px, 16px, pointer, inline-block);
}
.fundraise-button:hover {
  background: #ddd;}
