@import 'mixin';


.donate-button1{
@include button-style(#fdc752, none, 4px, white, 15px 32px, center, none, inline-block, 16px, pointer )
}

.donate-button1:hover{
  background-color: #ddd;
}

.social-links{
  float: left;
  width: 60px;
  height:60px;
  padding: 10px 10px;

}

.icon{
  width: 60px;
  height:60px;

}
