.mobile-container {
  max-width: 480px;
  margin: auto;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  position: relative;


 #myLinks {
  display: none;
}

a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

 a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

 a:hover {
  background-color: #ddd;
}
}
